<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="x-icon" href="/static/noback.png">
 <link rel='stylesheet' href='static/smth.css'/>
  <title>Guide</title>
<header id="header">
  
  <script src="navbar.js"></script>
  <img class="site-logo" id="logo" src="/static/logo.jpg" width="150" height="70">
  <div><center><h1 style="color:black
;">  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Guide</h1></center></div>  
    <ul>
      <li><a href="{{url_for('design')}}">Home</a></li>
      <li><a href="{{url_for('shop')}}">Shop</a></li>
      <li><a href="{{url_for('features')}}">Features</a></li>
      <li><a href="{{url_for('abouts')}}">Guide</a></li>
      <li><a href="{{url_for('cart')}}">Cart</a></li>
      <li><a href="{{url_for('signin')}}" onclick="return confirm('Are you sure you want to Sign out');">sign out</a></li>      
    </ul>
</header>

<body>

<br><br><br><br>

<h1 style="color:darkgray;
;">A guide for our FitBit</h1>

<div><center><h2>Okay so….did you get one?! Do you have one?! Are you ready?! Let's GO!

When you get your Fitbit your first step is to make sure it's charged! Get the cord, plug it into your computer and charge your Fitbit. Some models have a small tracker unit that pulls out of the housing and plug into the charging cord, while others click right onto the charging cord without removing anything.

<br><br><br>
Next fit your band. For wrist models make sure you put it on your non-dominant hand. These days each one comes with 2 bands, a small and a large so see which one fits you better.

For clip on models, choose where you are going to wear it and clip it on. Make sure it feels secure and that your purse, backpack, arm or other body part doesn't bump it off when you walk or run.
<br><br><br>
After you sign up on the watch it will ask you to connect your device, which is a little different for each model but the app walks your through it, super simple.
<br><br><br>
Now you're ready to track your daily activity. So…like….stand up and walk around!


</h2></center></div>


<h1 style="color:darkgray;
;">An Alternative:</h1>
<div><center><h2>Now if you found any of that confusing (which we highly doubt) you can always check the video below</h2></center></div>

<center><iframe width="560" height="315" src="https://www.youtube.com/embed/QprVwk9YAkc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
















</body></html>