<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="x-icon" href="/static/cart.png">
    <link rel='stylesheet' href='static/smth.css'/>
  <title>Cart</title>
<header id="header">
  
  <script src="navbar.js"></script>
  <img class="site-logo" id="logo" src="/static/logo.jpg" width="150" height="70">
  <div><center><h1 style="color:black
;">  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Your shopping Cart</h1></center></div>
  
    <ul>
      <li><a href="{{url_for('design')}}">Home</a></li>
      <li><a href="{{url_for('shop')}}">Shop</a></li>
      <li><a href="{{url_for('features')}}">Features</a></li>
      <li><a href="{{url_for('abouts')}}">Guide</a></li>
      <li><a href="{{url_for('cart')}}">Cart</a></li>
      <li><a href="{{url_for('signin')}}" onclick="return confirm('Are you sure you want to Sign out');">sign out</a>
      </li>



    </ul>
</header>
<body>
<br><br><br><br>



<br><br><br>
<div class="Cart-Container"></div>

<div class="Cart-Items">
 <div class="image-box">
 <img src="static/charge3.webp" width='150' height='150'>
 </div>
 <div class="about">
 <h1 class="title">charge 3</h1>
 <h3 class="subtitle">349.99 NIS</h3>
 <img src="static/veg.jpg" width="20" height="20">
 </div>
 <div class="counter"></div>
 <div class="prices"></div>
 </div>

<br><br><br>
<div class="Cart-Items">
 <div class="image-box">
 <img src="static/charge2.png" width='150' height='150'>
 </div>
 <div class="about">
 <h1 class="title">charge 2</h1>
 <h3 class="subtitle">249.99 NIS</h3>
 <img src="static/veg.jpg" width="20" height="20">
 </div>
 <div class="counter"></div>
 <div class="prices"></div>
 </div>



<br><br><br>
<div class="Cart-Items">
 <div class="image-box">
 <img src="static/versa1.jpg" width='150' height='150'>
 </div>
 <div class="about">
 <h1 class="title">versa 1</h1>
 <h3 class="subtitle">299.99 NIS</h3>
 <img src="static/veg.jpg" width="20" height="20">
 </div>
 <div class="counter"></div>
 <div class="prices"></div>
 </div>



<br><br><br>
<div class="Cart-Items">
 <div class="image-box">
 <img src="static/versa3.png" width='150' height='150'>
 </div>
 <div class="about">
 <h1 class="title">versa 3</h1>
 <h3 class="subtitle">399.99 NIS</h3>
 <img src="static/veg.jpg" width="20" height="20">
 </div>
 <div class="counter"></div>
 <div class="prices"></div>
 </div>



<br><br><br>
<div class="Cart-Items">
 <div class="image-box">
 <img src="static/vivofit4.jpg" width='150' height='150'>
 </div>
 <div class="about">
 <h1 class="title">vivofit 4</h1>
 <h3 class="subtitle">349.99 NIS</h3>
 <img src="static/veg.jpg" width="20" height="20">
 </div>
 <div class="counter"></div>
 <div class="prices"></div>
 </div>



<br><br><br>
<div class="Cart-Items">
 <div class="image-box">
 <img src="static/inspire2.jpg" width='150' height='150'>
 </div>
 <div class="about">
 <h1 class="title">inspire 2</h1>
 <h3 class="subtitle">499.99 NIS</h3>
 <img src="static/veg.jpg" width="20" height="20">
 </div>
 <div class="counter"></div>
 <div class="prices"></div>
 </div>
 
<br><br><br><br>

<hr> 
 <center><div class=”checkout”>
 <div class=”total”>
 <div>
 <div class=”Subtotal”>Sub-Total</div>
 <div class=”items”>1 item</div>
 </div>
 <div class=”total-amount”>249.99 NIS</div>
 </div>
 <form action="/ship">
 



  <br> <br><input type="submit" value="Checkout"  >



</form>
 </div></center>
<br>

    

<center><a href="{{url_for('shop')}}"> <h3 style="color: greenyellow;">Continue shopping</h3></a></center>

<br><br><BR>




</div>

<h3>{{watch[value]}}</h3>

  


  




























</body>
</html>