<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="x-icon" href="/static/noback.png">
  <link rel='stylesheet' href='static/smth.css'/>
  <title>Home Of FB</title>
<header id="header">
  
  <script src="navbar.js"></script>
  <img class="site-logo" id="logo" src="/static/logo.jpg" width="150" height="70">
  <div><center><h1 style="color:black
;">  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The Amazing World Of FitBit</h1></center></div>  
    <ul>
      <li><a href="{{url_for('design')}}">Home</a></li>
      <li><a href="{{url_for('shop')}}">Shop</a></li>
      <li><a href="{{url_for('features')}}">Features</a></li>
      <li><a href="{{url_for('abouts')}}">Guide</a></li>
      <li><a href="{{url_for('cart')}}">Cart</a></li>
      <li><a href="{{url_for('signin')}}" onclick="return confirm('Are you sure you want to Sign out ?');">sign out</a></li>
    </ul>
</header>
<!-- /header -->

<main>
</main>
 <div><h1> Welcome {{username}}!</h1></head></div> 
 <br>
 <h1 style="color:darkgray;
;">What's a FitBit?:</h1>
<div><center><h3>Fitbit is a consumer electronics and fitness company. It produces wireless-enabled wearable technology,physical fitness monitors and activity trackers such as smartwatches, pedometers and monitors for heart rate, quality of sleep and stairs climbed as well as related software.</h3></center></div>

<br><br>
<h1 style='color:darkgray;'>Is it worth getting a Fitbit?:</h1>
<div><center><h3>Most of the devices can tell you exactly how far you ran, how high your heart rate goes during a workout, how active you've been during a day and helps improve your sleep. so If you match our persona and care about your health , physique and your mental health , a Fitbit is the perfect thing for you.</h3></center></div>

<br><br>

<div><center><h2 style='color:black;'>Check out our newly added supply</h2></center></div>
 <div><center><img class="site-logo" id="design" src="/static/face.jpg" width="500" height="200"></center></div>
<div><center><a href="{{url_for('shop')}}"><h3 style="color:greenyellow;">Shop Now</h3></a></center></div>


<br><br>
<h1 style='color:darkgray;'>What else you should know:</h1>
<div><h4>FitBit is an independent company and this website was created by the one and only Amir!!
<br> Date of creation : 8/2/2022
<br> All rights reserved to my IASA dorm room© </h4></div>
<br><br>


