<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='static/smth.css'/>
  <title>Features</title>
<header id="header">
  
  <script src="navbar.js"></script>
  <img class="site-logo" id="logo" src="/static/logo.jpg" width="150" height="75">
  <div><center><h1 style="color:black
;">Our watch's features</h1></center></div>  
    <ul>
      <li><a href="{{url_for('design')}}">Home</a></li>
      <li><a href="{{url_for('shop')}}">Shop</a></li>
      <li><a href="{{url_for('features')}}">Features</a></li>
      	<li><a href="{{url_for('abouts')}}">Guide</a></li>
            <li><a href="{{url_for('cart')}}">Cart</a></li>
    </ul>
</header>
<body>

<br><br><br><br>
<h1 style="color:black
;">What features does a FitBit offer?</h1>

<br>
<h3>1.tracking your sleeping patterns to give you advice on how to enhance it.

<br><br>
<h3>2.monitoring and tracking your heart rate.</h3>
<br>
<h3>3.keeping track of the level of oxygen in your blood.


</h3>
<br>

<h3>4.GPS tracking during exercise.</h3>
<br>

<h3>5.storing and listening to music on the watch.</h3>
<br>

<h3>6.receiving call and text notifications also on the watch.
</h3>
<br>

<h3>7.paying for items when out and about just by linking your card.

</h3>
<br><br>
<h3>AND LAST BUT NOT LEAST</h3>

<center><h2 style="color:black
;">A FitBit can show you any muscle workout with a simple touch on the screen
<br> IE: </h2></center>
<div><center><img class="bicep-workout" id="bicep" src="/static/bicep.png" width="150" height="150"></center></div>
<div><center><h2>For a Bicep Workout <a href="https://barbend.com/best-biceps-exercises/">Click Here!</a> </h2></center></div>


<br><br>

<div><center><img class="abs-workout" id="abs" src="/static/abs.png" width="150" height="150"></center></div>

<div><center><h2>For an abs Workout <a href="https://www.gq.com/story/best-abs-workouts-gq-ultimate-guide">Click Here!</a> </h2></center></div>
<br><br>

<center><h3 style="color:black
;">Etc etc... The only difference is that in an actual FitBit watch you won't have to search in a webpage , it will automatically show the workout needed on the screen. NOW AINT THAT AMAZING!  </h3></center>














</body></html>