<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" type="x-icon" href="/static/error.webp">
<link rel='stylesheet' href='/static/smth.css'/>
<link rel='stylesheet' href='/static/sign.css'/>

    <meta charset="UTF-8">
    <title>ERROR</title>
    <header id="header">
  
  <script src="navbar.js"></script>
  <img class="site-logo" id="logo" src="/static/logo.jpg" width="150" height="70">
  <div><center><h1 align="middle" style="color:black
;">     &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    Sign in Error    </h1></center></div>  

<ul>
      <li><a href="{{url_for('inerror')}}">Home</a></li>
      <li><a href="{{url_for('inerror')}}">Shop</a></li>
      <li><a href="{{url_for('inerror')}}">Features</a></li>
      <li><a href="{{url_for('inerror')}}">Guide</a></li>
          <li><a href="{{url_for('inerror')}}">Cart</a></li>
    </ul>


</header>


</head>
<body>
    <br><br><br><br>
<center><h1 style="color:whitesmoke;
;" style="font-family:verdana">Sorry but we seem to have trouble logging you in.<br>
Try and double check your Email and password</h1></center>

<br>
<a href="{{url_for('signin')}}"><h2 align="middle" style="color:greenyellow;">Back to sign in</h2></a>




