<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='static/smth.css'/>
  <title>Shop</title>
<header id="header">
  
  <script src="navbar.js"></script>
  <img class="site-logo" id="logo" src="/static/logo.jpg" width="150" height="75">
  <div><center><h1 style="color:black
;">FitBit's Shop</h1></center></div>  
    <ul>
      <li><a href="{{url_for('design')}}">Home</a></li>
      <li><a href="{{url_for('shop')}}">Shop</a></li>
      <li><a href="{{url_for('features')}}">Features</a></li>
      <li><a href="{{url_for('abouts')}}">Guide</a></li>
    </ul>
</header>
<body>
<br><br><br><br>



<h1 style='color:black;'> Welcome to our shop:</h1>
<center><h2>Our top picks <h1>⬇</h1></h2></center>
<div><img align='left' src="/static/charge3.webp" width='150' height='150' >
    <br><br><br><br>

<h2 align='left'>   The amazing charge 3</h2>
<h2 align='left'> 349.99 NIS</h2></div>




<div><img align="right" src="/static/charge2.png" width="150" height="150">
<br><br><br><br>
<h2 align='right'>The newly updated Charge 2</h3>
<h2 align='right'>249.99 NIS </h2></div>




<div><img align='left' src='/static/versa1.jpg' width='150' height='150'>
    <br><br><br><br>
    <h2 align='left'> The versa 1</h2>
    <h2 align='left'>299.99 NIS</h2></div>




<div><img align='right' src='/static/versa3.png' width=150 height='150'>
     <br><br>
   <br><br>
<h2 align='right'> The one and only versa 3</h2>
<h2 align='right'>399.99 NIS</h2></div>


<div><img align='left' src='/static/vivofit4.jpg' width=150 height='150'>
     <br><br>
   <br><br>
<h2 align='left'> The exquisite vivofit4</h2>
<h2 align='left'>349.99 NIS</h2></div>


<div><img align='right' src='/static/inspire2.jpg' width=150 height='150'>
     <br><br>
   <br><br>
<h2 align='right'> The special inspire2</h2>
<h2 align='right'>499.99 NIS</h2></div>
<br><br><br><br>
<h1 align='middle' style='color:black;'> DISCLAIMER these are the watches that you will find in our shops<br>
we hope you had an amazing experience with us</h1>







</body></html>