<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='static/smth.css'/>
  <title>Shop</title>
<header id="header">
  
  <script src="navbar.js"></script>
  <img class="site-logo" id="logo" src="/static/logo.jpg" width="150" height="70">
  <div><center><h1 style="color:black
;">FitBit's Shop</h1></center></div>  
    <ul>
      <li><a href="{{url_for('design')}}">Home</a></li>
      <li><a href="{{url_for('shop')}}">Shop</a></li>
      <li><a href="{{url_for('features')}}">Features</a></li>
      <li><a href="{{url_for('abouts')}}">Guide</a></li>
    <li><a href="{{url_for('cart')}}">Cart</a></li>
    </ul>
</header>
<body>
<br><br><br><br>



<h1 style='color:black;'> Welcome to our shop:</h1>
<center><h2>Our top picks <h1>⬇</h1></h2></center>
<div><a href="https://www.productreview.com.au/listings/fitbit-charge-3"><input align='left' type="image" width='150' height='150' src="/static/charge3.webp" name="charge3" width="100" height="48"/></a>


</div>


    <br><br><br><br>

<h2 align='left'>   The amazing charge 3</h2>
<h2 align='left'> 349.99 NIS</h2>
<a href="{{url_for('cart')}}"><input align='left' type="image" width='110' height='25' src="/static/cartbut.png" name="charge3" width="30" height="10"/></a>
</div>














<div><a href="https://www.productreview.com.au/listings/fitbit-charge-2"><input align='right' type="image" width='150' height='150' src="/static/charge2.png" name="charge2" width="100" height="48"/></a>
<br><br><br><br>
<h2 align='right'>The newly updated Charge 2</h3>
<h2 align='right'>249.99 NIS </h2>
<a href="{{url_for('cart')}}"><input align='right' type="image" width='110' height='25' src="/static/cartbut.png" name="charge2" width="30" height="10"/></a></div>









<div><a href="https://www.productreview.com.au/listings/fitbit-versa"><input align='left' type="image" width='150' height='150' src="/static/versa1.jpg" name="versa1" width="100" height="48"/></a>
    <br><br><br><br>
    <h2 align='left'> The versa 1</h2>
    <h2 align='left'>299.99 NIS</h2>
<a href="{{url_for('cart')}}"><input align='left' type="image" width='110' height='25' src="/static/cartbut.png" name="versa1" width="30" height="10"/></a></div>
















<div><a href="https://www.productreview.com.au/listings/fitbit-versa-3"><input align='right' type="image" width='150' height='150' src="/static/versa3.png" name="versa3" width="100" height="48"/></a>
     <br><br>
   <br><br>
<h2 align='right'> The one and only versa 3</h2>
<h2 align='right'>399.99 NIS</h2>
<a href="{{url_for('cart')}}"><input align='right' type="image" width='110' height='25' src="/static/cartbut.png" name="versa3" width="30" height="10"/></a></div>














<div><a href="https://www.productreview.com.au/listings/garmin-vivofit-4"><input align='left' type="image" width='150' height='150' src="/static/vivofit4.jpg" name="vivofit4" width="100" height="48"/></a>
     <br><br>
   <br><br>
<h2 align='left'> The exquisite vivofit4</h2>
<h2 align='left'>349.99 NIS</h2>
<a href="{{url_for('cart')}}"><input align='left' type="image" width='110' height='25' src="/static/cartbut.png" name="vivofit4" width="30" height="10"/></a></div>
















<div><a href="https://www.productreview.com.au/listings/fitbit-inspire-2"><input align='right' type="image" width='150' height='150' src="/static/inspire2.jpg" name="inspire2" width="100" height="48"/></a>
     <br><br>
   <br><br>
<h2 align='right'> The special inspire2</h2>
<h2 align='right'>499.99 NIS</h2>
<a href="{{url_for('cart')}}"><input align='right' type="image" width='110' height='25' src="/static/cartbut.png" name="inspire2" width="30" height="10"/></a></div>

<br><br><br><br>
<h1 align='middle' style='color:black;'> DISCLAIMER these are the watches that you will find in our shops if you wish to buy any of them via delivery call +1-202-555-0110 OR wait for the lazy developer to finish the cart
<br>
we hope you had an amazing experience with us</h1>







</body></html>