<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" type="x-icon" href="/static/lock.webp">
<link rel='stylesheet' href='/static/smth.css'/>
<link rel='stylesheet' href='/static/sign.css'/>

    <meta charset="UTF-8">
    <title>Signin</title>
    <header id="header">
  
  <script src="navbar.js"></script>
  <img class="site-logo" id="logo" src="/static/logo.jpg" width="150" height="70">
  <div><center><h1 align="middle" style="color:black
;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   Sign in</h1></center></div>  
<ul>
      <li><a href="{{url_for('signin')}}">Home</a></li>
      <li><a href="{{url_for('signin')}}">Shop</a></li>
      <li><a href="{{url_for('signin')}}">Features</a></li>
      <li><a href="{{url_for('signin')}}">Guide</a></li>
          <li><a href="{{url_for('signin')}}">Cart</a></li>
    </ul>
</header>


</head>
<body>
    <br><br><br><br>
<center><h1 style="color:darkgray;
;" style="font-family:verdana">Welcome To FitBit!</h1></center>

    <form method="POST" action="/">
        <!-- Heading --><center>
        <h4>
        Log in to your account
        </h4>

        <!-- Subheading -->
        <p >
        fill up your info to sign in.
        </p>

        <!-- Email -->
        <div>
            <label>Email address</label>
            <div>
                <input type="email"  name="email" id="emailStr" required placeholder="email@example.com">

            </div>
        </div><br>

        <!-- Password -->
        <div>
            <label>Password</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6" placeholder="Password">
            </div>
        </div><br>
        
        <!-- Button -->
        <div>
            <input type="submit"/>
        </div>
    </form>
    
    <a href="{{url_for('signup')}}"><h3 style="color:darkgray;"> signup</h3></a>
</center>


</form>




</body>
</html>